# 4.06 Combining and Exporting Data (Part 01)
 
## 01 Merging Dataframes
#### a) Importing dataframes
#### b) Checking orders_products_prior
#### c) inner merge orders dataframes (df_ords and df_ords_prior) using the order_id
#### d) determine if merge types used on rows

## 02 Saving merged dataframe as .pkl
## 03 Go to next notebook
#### (4.06 Combining and Exporting Data Part 02)

## 01 Merging Dataframes

In [5]:
# a) Importing dataframes

import numpy as np
import pandas as pd
import os

pathData = r'C:\Users\Michael\Desktop\Career Foundry\02 Data Immersion Course\04 Python Fundamentals for Data Analysts\Instacart Basket Analysis 2023 11\02 Data'
df_prods = pd.read_csv(os.path.join(pathData, 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(pathData, 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(pathData, 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [22]:
# b) Initial searches on new dataframe orders_products_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
df_ords_prior.shape

(32434489, 4)

In [25]:
df_ords.shape

(3421083, 6)

In [26]:
# c) inner merge orders dataframes (df_ords and df_ords_prior) using the order_id
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.shape

(32434489, 10)

In [28]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [38]:
# change all 'id' columns to strings and perform intinial analyses using describe
pd.options.display.float_format = '{:.2f}'.format
df_merged_large['order_id'] = df_merged_large['order_id'].astype('str')
df_merged_large['user_id'] = df_merged_large['user_id'].astype('str')
df_merged_large['product_id'] = df_merged_large['product_id'].astype('str')
df_merged_large.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,add_to_cart_order,reordered
count,32434489.00,32434489.00,32434489.00,30356421.00,32434489.00,32434489.00
mean,17.14,2.74,13.42,11.10,8.35,0.59
std,17.54,2.09,4.25,8.78,7.13,0.49
min,1.00,0.00,0.00,0.00,1.00,0.00
25%,5.00,1.00,10.00,5.00,3.00,0.00
50%,11.00,3.00,13.00,8.00,6.00,1.00
75%,24.00,5.00,16.00,15.00,11.00,1.00
max,99.00,6.00,23.00,30.00,145.00,1.00

In [32]:
#determine if merge types used on rows
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## 02 Saving merged dataframe as .pkl

In [40]:
df_merged_large.to_pickle(os.path.join(pathData, 'Prepared Data', 'orders_products_combined.pkl'))

## 03 Task continues on next notebook
#### 4.06 Combining and Exporting Data Part 02