# 4.07 Deriving New Variables

### 00 Initial tasks
##### a) Importing libraries
##### b) creating truncated df (1,000,000 rows only)

### 01 Adding _price/_label_ and _busiest/_day_ columns
##### a) Prices Label by defining new function
##### b) Prices Label by using _.loc_ 
##### c) Busiest Day using _.loc_

### 02 Changing Busiest day to Busiest Days
### 03 and check the results

### 04 Finding the _busiest/_period/_of/_day_
##### a) Find the number of orders made during each hour
##### b) Make a list of the catagory of order volume for each row in the df

### 00 Initial tasks
#### a)Importing libraries

In [4]:
import os
import numpy as np
import pandas as pd

pathData = r'C:\Users\Michael\Desktop\Career Foundry\02 Data Immersion Course\04 Python Fundamentals for Data Analysts\Instacart Basket Analysis 2023 11\02 Data'

df_ords_prods_merged = pd.read_pickle(os.path.join(pathData, 'Prepared Data', 'orders_products_merged.pkl'))

##### b) creating truncated df (1,000,000 rows only)

In [5]:
df = df_ords_prods_merged[:1000000]

In [6]:
df.shape

(1000000, 14)

### 01 Adding _price/_label_ and _busiest/_day_ columns
##### a) Prices Label by defining new function

In [7]:
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif row['prices'] <=15:
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

df['price_range'] = df.apply(price_label, axis = 1)
df.head()

C:\Users\Michael\AppData\Local\Temp\ipykernel_7508\3459379277.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [15]:
df['price_range'].value_counts(dropna = True)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [16]:
df['prices'].max()

14.8

##### b) Prices Label by using _.loc_

In [41]:
#labelling the high value products
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [56]:
#labelling the mid value products
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [43]:
#labelling the low value products
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [57]:
#counting the number of each catagory of product price
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [81]:
# checking the dimiensions of the df
df_ords_prods_merged.shape

(32404859, 15)

##### c) Busiest Day using _.loc_

In [82]:
# Find the count of order days
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [84]:
# make a list catagories in how busy each day is 
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [85]:
# add the list as a new column to the df, show the count to check against initial value_counts (above)
df_ords_prods_merged["busiest_day"] = result
df_ords_prods_merged["busiest_day"].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### 02 Changing Busiest day to Busiest Days
### 03 and check the results

In [86]:
# drop the busiest day column from the df
df_ords_prods_merged.drop(columns = ["busiest_day"], inplace = True)

In [88]:
# make a list catagories in how busy each day is
# busiest days are 0 and 1
# least busy are 4 and 3
# all others are mid range
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 4 or value == 3:
    result.append("Least busy days")
  else:
    result.append("Regularly busy days")

# add then results of the list to the new df in a new column "busiest_days"
df_ords_prods_merged["busiest_days"] = result
# show the resuts of this for checking
df_ords_prods_merged["busiest_days"].value_counts(dropna = False)

busiest_days
Regularly busy days    12916111
Busiest days           11864412
Least busy days         7624336
Name: count, dtype: int64

The numbers compared to the count of days above are correct

### 04 Finding the _busiest/_period/_of/_day_
##### a) Find the number of orders made during each hour

In [91]:
# Find the count of order hours
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

The hours 1 - 5 are the least common ordering times
The hours 9-16 are the highest ordering times

There are big jumps in the numbe rof orders from 0000 to 0100 and from 0900 to 1700
trherefore these times (0100 and 0900) should be the bounds of the time catagories

##### b) Make a list of the catagory of order volume for each row in the df

In [92]:
result = []

for value in df_ords_prods_merged["order_hour_of_day"]:
  if value <=5 and value >= 1:
    result.append("Fewest orders")
  elif value <= 16 and value >= 9:
    result.append("Most orders")
  else:
    result.append("Average orders")
    
# append the list to a new column called busiest_period_of_day
df_ords_prods_merged["busiest_period_of_day"] = result
# show the resuts of this for checking
df_ords_prods_merged["busiest_period_of_day"].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders    10909229
Fewest orders       377559
Name: count, dtype: int64

### 07 Export as .pkl file

In [94]:
df_ords_prods_merged.to_pickle(os.path.join(pathData, 'Prepared Data', 'df_ords_prods_merged_updated.pkl'))